#sign-in-container {
    position: fixed;
    top:10vh;
    left: 30vw;
    z-index: 111;
    width: 40vw;
    height: fit-content;
    background-color: white;
    border-radius: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign-in-container #popUpCloseButton{
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
}

#curtain {
    background-color: rgba(72, 72, 72, 0.69);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    #sign-in-container {
      width: 100%; /* Change width to 100% for mobile devices */
    }
  }

#SignUpFormContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

#SignUpFormContainer form div{
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

#SignUpFormContainer form label{
  font-size: 0.8rem;
  color: darkgray;
}

#submitSignUpButton{
  width: 300px;
  background-color: #1C1C4E;
  height: 35px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  border: none;
  font-weight: bold;
  margin-bottom: 20px;
}

#SignUpFormContainer form input{
  background: white;
  width: 300px;
  height: 35px;
  border: solid lightgray;
  padding: 10px;
}

#SwitchToLoginButton{
  background:none;
  border:none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #1C1C4E;
  text-decoration: underline;
}